*{
    background-color: gray;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
    display: none;
    }

#section-0{
background-color: antiquewhite;
}

#section-1{
    background-color: antiquewhite;
}

#section-2{
background-color: antiquewhite;
}

#section-3{
background-color: antiquewhite;
}

#section-4{
background-color: antiquewhite;
}

#section-5{
background-color: antiquewhite;
}    

#section-6{
background-color: antiquewhite;
}


